
* {
  overflow: hidden;
}

.intro {
  background: url('../assets/splash-pg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Homepage Slide Up CSS - not working */
/* .intro {
  background: url('../assets/splash-pg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.slide-up {
  transform: translateY(-100%);
} */


 
.view p {
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  position: relative;
  /* right: 5px; */
  color: #502564;
}

.view {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  /* border: 2px solid purple; */
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  line-height: 1;
  margin: 20px;
  /* padding: 1.2em 2.8em; */
  padding: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  width: 20%;
  height: 9%;
  position: relative;
  left: 75vw;
  top: 65vh;
  box-shadow: 0 0 40px 40px #fcf1f0 inset;
}

.view:hover,
.view:focus {
  color: #fcf1f0;
  border: 2px solid #502564;
}

/* .intro:active {
  transition: transform .1s ease-in-out; 
  transform: translateY(-100%); 
} */